# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.log

# Django DB
db.sqlite3
*.sqlite3

# Local settings
*.env
.env.*

# Media files
/media/
media/

# Static file folders
staticfiles/
static/
static_root/
static_cdn/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Virtual environments
venv/
env/
ENV/
.venv/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test results
junit-*.xml

# Build / distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pip
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyLint
.pylint.d/

# Temporary files
*.swp
*.bak
*.tmp
*.orig
