<!-- templates/tareas/lista_tareas.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Mis Tareas</h2>

    <a href="{% url 'crear_tarea' %}" class="btn btn-primary mb-3">➕ Nueva tarea</a>

    <ul class="list-group">
      {% for tarea in tareas %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          
          <div class="flex-grow-1">
            <span {% if tarea.completada %} style="text-decoration: line-through;" {% endif %}>
              <strong>{{ tarea.titulo }}</strong> – {{ tarea.categoria }}
            </span>

            {% if tarea.descripcion %}
              <p class="text-muted mb-1">{{ tarea.descripcion }}</p>
            {% endif %}
            
             <!-- Fechas -->
            <small class="text-muted">
              📅 Creada: {{ tarea.fecha_creacion|date:"d/m/Y H:i" }}
              {% if tarea.fecha_completado %}
                | ✅ Finalizada: {{ tarea.fecha_completado|date:"d/m/Y H:i" }}
              {% endif %}
            </small>
          </div>

          <div class="d-flex flex-column gap-1">
            <a href="{% url 'editar_tarea' tarea.id %}" class="btn btn-warning btn-sm">✏️ Editar</a>
            <a href="{% url 'eliminar_tarea' tarea.id %}" class="btn btn-danger btn-sm">🗑️ Eliminar</a>

            {% if not tarea.completada %}
              <a href="{% url 'completar_tarea' tarea.id %}" class="btn btn-success btn-sm">✅ Completar</a>
            {% endif %}
          </div>
        </li>
      {% empty %}
        <li class="list-group-item">No tienes tareas aún.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
